$fg: #111111;
$bg: #bbbbbb;
$font: Helvetica,arial,sans-serif;
$borders: 0px;

* {
	font-weight: normal;
}

body {
	margin: 0;
	font-family: $font;
	height: 100vh;
	-webkit-transition: all 1s ease; /* Firefox */
	-moz-transition: all 1s ease; /* WebKit */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease; /* Standard */
}

body.white {
		color: $fg;
		background: $bg;

		p, h1,h2,h3,h4,h5 {
			color: $fg;


	}
	#navigation {
		background: $bg;
		a {
			color: $fg;
		}
	}
	#controlWidth {
		border-right: $borders solid $fg;
	}
	.word-container {
		background: $bg;
	}
}




#navigation {
	position: fixed;
	bottom: 0;
	left:0;
	z-index: 100000;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 40px;

	#navbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	a {
		display: block;
		text-align: center;;
		width: 100%;
		text-decoration: none;
		font-size: calc(10px + 1vw);
	}
	a.active {
		-ms-transform: rotate(90deg); /* IE 9 */
  		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  		transform: rotate(90deg);
	}

}



#stage {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}


.flex-center-x {
	display: flex;
justify-content: center;
}

.flex-center-y {
	display: flex;
		align-items: center;

}


.stage {
	width: 100%;
	height:100vh;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
	margin: 0;
	font-weight: normal;
}


.h1 {
	font-size:calc(40px + 10vw);
}

.h2 {
	font-size:calc(20px + 5vw);
}

.fifty {
	width: 50%;
	height: 100vh;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;

}

.fullpage {
	width: 100%;
	height: 100vh;
}



.parent {
	position: relative;
}

.child {
	position: absolute;
}


.topleft {
    top: 0;
    left: 0;
}

.topright {
    top: 0;
    right: 0;
}

.bottomleft{
    bottom: 0;
    left: 0;
}

.bottomright {
    bottom: 0;
    right: 0;
}


.wordWrapper {
    width: 100vw;
    height: 100vh;
}
