div.marquee {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-indent: 2000px;
}

div.marquee > div.marquee-text {
  white-space: nowrap;
  display: inline;
  width: auto;
}

.marquee-text {
  display: none;
  font-size: calc(20px + 10vw);
  margin: 0;
  padding: 0;
}
